.App {
  display: flex;
  align-items: center;
}

form > fieldset {
  border: none;
  text-align: right;
}
form * input, form * .button {
  border-radius: 4px;
  height: 24px;
  font-size: 14px;
  padding: 4px;
}
form * label {
  margin-right: 5px;
}
form * legend {
  font-size: 11px;
  color: #e74c3c;
}
